/* Error: Undefined variable.
 *    ,
 * 19 |                 border-radius: $mainradius;
 *    |                                ^^^^^^^^^^^
 *    '
 *   styles/_eventsnear.scss 19:32  @use
 *   style.scss 6:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 19 \2502                  border-radius: $mainradius;\a    \2502                                 ^^^^^^^^^^^\a    \2575 \a   styles/_eventsnear.scss 19:32  @use\a   style.scss 6:1                 root stylesheet";
}
